.button-plain {
  margin: 0px 10px;
  padding: 9px 14px 6px 14px;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  user-select: none;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 15px;

  letter-spacing: 1px;
  text-transform: uppercase;

}